body {
	background-color: white;
}

body div {
	background-color: transparent;
}

.header, .container {
	width: 1000px;
	text-align: center;
	margin: auto;
}

.header {
	width: 1000px;
	height: 120px;
	background: white url('images/logo.gif') no-repeat scroll center left;
	background-size:130px auto;
}

.wrapper {
	height: 700px;
}

.header {
	padding-top: 30px;
	margin-bottom: 5px;
}

.aside {
	width: 200px;
	height: 100%;
	float: left;
}

.content {
	width: 600px;
	height: 100%;
	float: left;
	overflow: auto;
}

.content div {
	width: auto;
}

.footer {
	height: 150px;
	border-top: 1px solid black;
}

/* HEADER STYLE *****************************************************/
.header h2, .header h3, .header h4, .header h5 {
	/*       T   R   B   L */
	margin: 2px 0px 2px 200px;
	text-align: left;
}

/* LEFT ASIDE STYLE *************************************************/
.aside ul {
	list-style-type: none;
	padding-left: 5px;
}

ul li {
	font-weight: bold;
	text-align: left;
	width: 80%;
	margin-top: 5px;
	margin-bottom: 3px;
	border-bottom: 2px solid transparent;
}

ul li:hover {
	color: rgb(255,118,74);
}

ul li.active {
	margin-bottom: 3px;
	border-bottom: 2px solid rgb(255,118,74);
	border-bottom-right-radius: 5px;
}

/* CONTENT STYLE ****************************************************/
.content h2, .content h3, .content h4, .content h5 {
	margin: auto;
}

/* ORGANIZATION STYLE ***********************************************/
.organization {
	margin: 8px 0px !important;
}